html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.articles{
  display: flex;
  margin: 5px;
  .article{
    width: 500px;
    margin-left: 5px;
    border: black;
    border-style:solid;
    border-width: 2px;

    img{
      width: 100%;  
    };
    p{
      font-size: 16px;
      padding: 5px;
    } 
    button{
      margin-left: 5%;
    }
  }
} 
